## In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [3]:
from pydataset import data
import pandas as pd
import acquire

### print the first 3 rows

In [ ]:
iris = data('iris')
iris[:3]

### print the number of rows and columns (shape)

In [ ]:
iris.shape

### print the column names

In [ ]:
iris.columns

### print the data type of each column

In [ ]:
iris.dtypes

### print the summary statistics for each of the numeric variables

In [ ]:
iris.describe()

## 5. Read the data from this google sheet into a dataframe, df_google.

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

## print the first 3 rows

In [ ]:
df_google[:3]

## print the number of rows and columns

In [ ]:
df_google.shape

## print the column names

In [ ]:
df_google.columns

## print the data type of each column

In [ ]:
df_google.dtypes

## print the summary statistics for each of the numeric variables

In [ ]:
df_google.describe()

## print the unique values for each of your categorical variables

In [ ]:
categorical_columns = df_google.select_dtypes(include='object').columns

for column in categorical_columns:
    unique_values = df_google[column].unique()
    print(f"Unique values for column '{column}': {unique_values} \n\n")

## Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [5]:
df_excel = pd.read_excel('~/Downloads/train.xlsx')

In [6]:
df_excel.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## assign the first 100 rows to a new dataframe, df_excel_sample

In [7]:
df_excel_sample = df_excel[:100]
df_excel_sample.head()
df_excel_sample.shape

(100, 12)

## print the number of rows of your original dataframe

In [8]:
df_excel.shape

(891, 12)

## print the first 5 column names

In [9]:
df_excel_sample.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

## print the column names that have a data type of object

In [10]:
object_columns = df_excel.select_dtypes(include=['object']).columns
object_columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

## compute the range for each of the numeric variables.

In [11]:
numeric_cols = df_excel.select_dtypes(include=['int', 'float']).columns
numeric_cols
for col in numeric_cols:
    print(f'The range of the {col} column is {df_excel[col].max() - df_excel[col].min()}.')

The range of the PassengerId column is 890.
The range of the Survived column is 1.
The range of the Pclass column is 2.
The range of the Age column is 79.58.
The range of the SibSp column is 8.
The range of the Parch column is 6.
The range of the Fare column is 512.3292.

In [12]:
titanic = acquire.get_titanic_data()
titanic.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [15]:
iris = acquire.get_iris_data()
iris.head()

,Unnamed: 0,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id.1
0,0,1,setosa,1,5.1,3.5,1.4,0.2,1
1,1,1,setosa,2,4.9,3.0,1.4,0.2,1
2,2,1,setosa,3,4.7,3.2,1.3,0.2,1
3,3,1,setosa,4,4.6,3.1,1.5,0.2,1
4,4,1,setosa,5,5.0,3.6,1.4,0.2,1

In [16]:
telco = acquire.get_telco_data()
telco.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(customer_id)\n             JOIN internet_service_types USING (internet_service_t' at line 7")
[SQL: SELECT *
             FROM customers
             JOIN customer_payments USING (customer_id)
             JOIN payments_types USING (payment_type_id)
             JOIN customer_contracts USING (customer_id)
             JOIN contract_types USING (contract_type_id)
             JOIN customer_subscriptions (customer_id)
             JOIN internet_service_types USING (internet_service_type_id);]
(Background on this error at: https://sqlalche.me/e/14/f405)